/intent_classifier/*.txt
/corpora/intent/texts/
/corpora/*.py
/corpora/kej.txt
/corpora/ner/
/www/qrcodejs/
/www/image/
/www/wave/
/www/test*.html
/www/initial.html
/www/logo.png
/www/script_trial.js
/server.crt
/server.key
/genkikai_utf8.csv
/genkikai_names.py
/ocr.py
/ocr2record.py
/sendbyline.py
/test_mecab_output.py
/line_config.py
/line.py
/line_users.py
/names.py
/ip_config.py
/mecab-ipa-test.py
/confirmResv_standalone.py
*.csv
*.jpg
*.model
*.vocab
*.npy
*.dic

